ibm-generative-ai[langchain]
langchain
ibm-generative-ai
chromadb==0.3.29
PyPDF2==3.0.1
streamlit==1.21.0
tiktoken==0.3.1
tokenizers==0.13.3
scikit-learn==1.2.2
sentence_transformers
InstructorEmbedding
